.contact {
    display: grid;
    gap: 2rem;

    &__title {
        font-size: 3rem;
    }

    &__social {
        margin: 0px;
        padding: 0px;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        list-style-type: none;
    }

    a {
        font-size: 1.5rem;
        background: linear-gradient(to bottom, var(--clr-brand) 0%, var(--clr-brand) 100%);
        background-position: 0 100%;
        background-repeat: repeat-x;
        background-size: 4px 4px;
        transition: all 250ms ease-in-out;

        &:hover,
        &:focus {
            background-size: 4px 50px;
            color: #000;
        }
    }
}
